.game-list-item {
    /* border: solid gray 2px;
    border-radius: 4px; */
    padding: 0.5em;
    margin: 5px 5px 5px 5px;
    width: 280px;
    height: 400px;
    float: left;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-list-item-content {
    font-size: 21px;
    
}

.game-list-item-details-btn {
    padding-top: 10px;
}

.btn-details {
    border: solid white 2px;
    border-radius: 6px;
    padding: 15px;
    background-color: rgb(13, 110, 253);
    margin-top: 4em;
    color: white;
    font-weight: bold;
}

.game-img {
    height: 250px;
    width: 150px;
    object-fit: contain;
}