.login-form {
    box-sizing:  border-box;
    margin-left: 35%;
    margin-right: 35%;
}

.title {
    text-align: center;
}

.container {
  padding: 16px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border-left-width: 10px;
  border-left-color:#04AA6D;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 25px;
  border-radius: 12px;
  border: none;
}

.loginbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


form > p {
    text-align: center;
}

.error {
  color: red;
}

.input-error {
  border-left-color:red;
}