<div class="login-form" [formGroup]="loginFormGroup" (ngSubmit)="loginHandler()">
    <form>
        <div class="container">
            <h1 class="title">Login</h1>

            <div *ngIf="errorMessage">
                <p class="error">
                    {{errorMessage}}
                </p>
            </div>

            <label for="email"><b>Email</b></label>
            <input formControlName="email" type="text" placeholder="Enter Email" name="email" id="email"
                [class.input-error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">

            <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
                <p *ngIf="loginFormGroup.controls['email'].errors.required" class="error">
                    Email is required!
                </p>

                <p *ngIf="!loginFormGroup.controls['email'].errors.required && loginFormGroup.controls['email'].errors.email"
                    class="error">
                    Email must be valid!
                </p>
            </ng-container>

            <label for="psw"><b>Password</b></label>
            <input formControlName="password" type="password" placeholder="Enter Password" name="password" id="password"
                [class.input-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">

            <ng-container
                *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">

                <p *ngIf="loginFormGroup.controls['password'].errors.required" class="error">
                    Password is required!
                </p>

                <p *ngIf="loginFormGroup.controls['password'].errors.minlength" class="error">
                    Password must be at least 3 characters long!
                </p>
            </ng-container>

            <button [disabled]="loginFormGroup.invalid" class="loginbtn">Login</button>
        </div>
        <p>Don't have an account? <a routerLink="/register">Register</a>.</p>
    </form>
</div>