<section id="home-page">
    <article class="home-page-content">
        <h1>Welcome, gamer</h1>
        <p>On this site, you can browse for your favourite games, customize your Games experience, or just sell
            your own Games! Have fun!
        </p>
    </article>

    <article class="search">
        <h1>Browse for a game</h1>
        <form #searchForm="ngForm" (submit)="searchHandler(searchForm)">
            <input type="text" id="search" name="search" placeholder="game title" ngModel>
            <button class="search-btn">Search</button>
        </form>
    </article>


    <ng-container *ngIf="game">
        <app-game-list-item class="found-game" [game]="game"></app-game-list-item>
    </ng-container>

    <ng-container *ngIf="searchPressed && !game">
        <h3 class="no-game">No such game in library!</h3>
    </ng-container>
</section>